@import "./font.css";

:root {
  --primary: rgba(194, 140, 61, 1);
  --secondary: rgba(32, 35, 41, 1);
  --secondary025: rgba(32, 35, 41, 0.25);
  --text-color: var(--secondary);

  --card-bg: rgba(60, 62, 68, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
